<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sanrio Obstacle Course</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <script src="script.js" defer></script>
    </head>
    <body>
        <div class="audioContainer">
                <button id="musicButton"><img id="musicIcon" src="assets/audio_icons/muted_music_icon.png"></button>
                <audio id="music" style="display:none" controls muted loop>
                    <source src="assets/audio/video-game-battle-music.wav" type="audio/wav">
                </audio>
        </div>
        <div id="characterSelectionPage">
            <div class="titleContainer">
                <h1 id="message">Welcome to Sanrio Obstacle Course!<br>Choose your character!</h1>
            </div>
            <div class="playerOneContainer">
                <img id="playerOnePicture" style="display:none">
                <button id="doneFirst"><img src="assets/other/checkmark.png"></button>
            </div>
            <div class="selectionContainer">
                <div class="selection">
                    <button class="option"><input type="image" src="assets/icons/cinnamoroll_sad.ico" /></button>
                    <button class="option"><input type="image" src="assets/icons/gudetama.ico" /></button>
                    <button class="option"><input type="image" src="assets/icons/keroppi.ico" /></button>
                    <button class="option"><input type="image" src="assets/icons/kuromi.ico" /></button>
                    <button class="option"><input type="image" src="assets/icons/my_melody.ico" /></button>
                    <button class="option"><input type="image" src="assets/icons/pompompurin.ico" /></button>
                    <button class="option"><input type="image" src="assets/icons/tuxedo_sam.ico" /></button>
                </div>
            </div>
            <div class="playerTwoContainer">
                <img id="playerTwoPicture" style="display:none">
                <button id="doneSecond"><img src="assets/other/checkmark.png"></button>
            </div>
            <div id="continueContainer" style="display:none">
                <button id="continueButton">Continue</button>
                <button id="reselectButton">Reselect</button>
            </div>
        </div>
        <div id="backgroundSelectionPage" style="display:none">
            <div class="bgSelectionContainer">
                <h1>Choose background for Player 1</h1>
                <div class="bgSelection">
                    <button id="leftArrowOne"><img src="assets/other/left_pink_arrow.png"></button>
                    <div class="bgImageContainer">
                        <img id="backgroundOne" src="assets/backgrounds/cherry_background.jpg">
                    </div>
                    <button id="rightArrowOne"><img src="assets/other/right_pink_arrow.png"></button>
                </div>
                <h1>Choose background for Player 2</h1>
                <div class="bgSelection">
                    <button id="leftArrowTwo"><img src="assets/other/left_pink_arrow.png"></button>
                    <div class="bgImageContainer">
                        <img id="backgroundTwo" src="assets/backgrounds/cherry_background.jpg">
                    </div>
                    <button id="rightArrowTwo"><img src="assets/other/right_pink_arrow.png"></button>
                </div>
            </div>
            <button id="continueButtonTwo">Continue</button>
        </div>
        <div id="obstaclePage" style="display:none">
            <div id="canvasContainer">
                <canvas id="boardOne"></canvas>
                <canvas id="boardTwo"></canvas>
            </div>
            <div id="overlay"></div>
            <div id="instructions">
                <button id="closeButton"><img src="assets/other/x_button.png"></button>
                <h2>How to play!</h2>
                <p><br>This game is similar to the Chrome Dinosaur Game, where you have to 
                jump over several different obstacles for as long as you can.
                <br>*
                <br>Player 1 (the top character) will use the "W" key to jump.
                <br>*
                <br>Player 2 (the bottom character) will use the up arrow key to jump.</li>
                <br>*
                <br>Whoever hits the obstacle first loses!</p>
            </div>
            <div id="restartContainer">
                <button id="playAgainButton">Play Again?</button>
                <button id="mainMenuButton">Go to Main Menu?</button>
            </div>
        </div>
    </body>
</html>