* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    width: 100dvw;
    height: 100dvh;
}

#startPage {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}

button {
    border: none;
    background-color: transparent;
    transition: all 0.3s ease;
}

button:enabled:hover {
    cursor: pointer;
    transform: scale(1.2);
}

button:disabled {
    opacity: 0.5;
}

button:disabled:hover {
    cursor: default;
}

.audioContainer {
    position: fixed;
    display: flex;
    width: fit-content;
    height: fit-content;
    top: 10px;
    left: 10px;
    z-index: 10;
}

#musicButton {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
}

#musicIcon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.titleContainer {
    position: fixed;
    width: 100%;
    height: fit-content;
    top: 10%;
    left: 0;
    background-color: aliceblue;
    opacity: 0.8;
    z-index: 5;
}

#message {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    animation: slideAcrossLTR 15s linear infinite;
}

@keyframes slideAcrossLTR {
    0% {
        transform: translateX(-80%);
    }
    100% {
        transform: translateX(80%);
    }
}

.playerOneContainer{
    position: fixed;
    width: 30%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.playerTwoContainer {
    position: fixed;
    width: 30%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
}

#playerOnePicture {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: slideInFromLeft 0.3s ease-out forwards;
}

#playerTwoPicture {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: slideInFromRight 0.3s ease-out forwards;
}

#doneFirst,
#doneSecond {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 10px;
    right: 0;
    background-color: transparent;
    border: none;
    display: none;
}

#doneFirst img,
#doneSecond img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-80%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(80%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.selectionContainer {
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.selection {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    gap: 10px;
    justify-content: center;
}

.selection input[type="image"] {
    width: 100px;
    height: 100px;
    padding: 10px;
    object-fit: contain;
    background-color: lightblue;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease;
}

.selection input[type="image"]:focus {
    opacity: 0.5;
}

#playPage {
    justify-content: center;
}

#canvasContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

#boardOne {
    background-color: pink;
    border-bottom: 1px solid lightblue;
}

#boardTwo {
    background-color: beige;
    border-bottom: 1px solid plum;
}